---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Insta from "../components/Insta.astro";
import Carousel from "../components/Carousel.astro";
import "../styles/global.css";
---

<MainLayout title="KidsAid - Bringing Smiles to Kids" currentPage="home">
  <Hero
    image1="/images/hero.webp"
    image2="/images/slider2.png"
    image3="/images/slider3.png"
    image4="/images/slider4.png"
  />
  <section class="instacard-section">
    <div class="instacard-grid">
      <Insta
        title="Post 1"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink=https://www.instagram.com/p/BfitkpZFhcS/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 2"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BtV2SHfH5HM/"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 3"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BzqHKG9hQEI/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 4"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/B3nHF9Dhxl0/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 5"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/CpiFTUrIicK/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 6"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/Ca9mmy5s7wL/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
    </div>
    <!-- <button
      id="read-more-btn"
      class="about-btn"
      style="max-width: 50%; margin: auto">Læs Mere</button
    > -->
  </section>
  <section class="about-section" id="about">
    <div class="about-hero">
      <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
      <div class="about-content">
        <h2>Hvem er Trylle Patruljen?</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
        <!-- <button id="read-more-btn" class="about-btn">Læs Mere</button>
        <div id="dropdown-text" class="dropdown-text">
          <p>
            Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
            deres magi, når børn bl.a. skal stikkes, opereres eller er
            ulykkelige over deres situation. <br />
            Børnene, KidsAidstøtter, er mellem 0 og 20 år.
          </p>
        </div> -->
      </div>
    </div>
  </section>
  <section class="værdi-section" id="values">
    <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
    <div class="værdi-content">
      <h2>KidsAids værdier</h2>
      <div class="valgrid">
        <div class="grid1">
          <img src="/images/KidsAid_Narvar.png" />
          <h2>Nærvær</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/KidsAid_Rummelighed.png" />
          <h2>Rummelighed</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/KidsAid_Hjertevarme.png" />
          <h2>Hjertevarme</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/happy.png" />
          <h2>Glæde</h2>
          <p class="valtekst">
            <br />
            - Vores unikke oplevelser skaber glæde og forundring for børnene <br
            />
            * Glæde i en hård tid – glemme sygdom for en stund <br />
            * Glæde sammen som familie – sygdom splitter af <br />
            *(Glæde hos sponsorer når de kan se de er med til at gøre en forskel)
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section" id="ønskebrønden">
    <div class="about-hero">
      <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
      <div class="about-content">
        <h2>Ønskebrønden</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
      </div>
    </div>
  </section>
  <section class="about-section" id="events">
    <div class="about-hero">
      <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
      <div class="about-content">
        <h2>Events</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
      </div>
    </div>
  </section>
  <section class="about-section" id="støt">
    <div class="about-hero">
      <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
      <div class="about-content">
        <h2>Støt Nu</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
      </div>
    </div>
  </section>

  <script src="../js/script.js"></script>
  <script src="../js/app.js"></script>
</MainLayout>
