---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Insta from "../components/Insta.astro";
import "../styles/global.css";
---

<MainLayout title="KidsAid - Bringing Smiles to Kids" currentPage="home">
  <Hero
    title="Welcome to KidsAid"
    text="Helping sick and vulnerable children and their families."
    text2="Creating joyful experiences in and out of hospitals."
    imageSrc="/images/hero.webp"
    showContent={true}
  />
  <section class="instacard-section">
    <div class="instacard-grid">
      <Insta
        title="Post 1"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink=https://www.instagram.com/p/C5F81EnIYp6/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 2"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/C8et6e6Mz11/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 3"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/C4YGPScK9bn/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 4"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/C6X9YoQCXmn/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 5"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/C17Q7VQMK4e/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 6"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/C1Y6r9rs3Zx/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
    </div>
  </section>
</MainLayout>
