---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Insta from "../components/Insta.astro";
import "../styles/global.css";
---

<MainLayout title="KidsAid - Bringing Smiles to Kids" currentPage="home">
  <Hero
    title="Welcome to KidsAid"
    text="Helping sick and vulnerable children and their families."
    text2="Creating joyful experiences in and out of hospitals."
    imageSrc="/images/hero.webp"
    showContent={true}
  />
  <section class="instacard-section">
    <div class="instacard-grid">
      <Insta
        title="Post 1"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink=https://www.instagram.com/p/BfitkpZFhcS/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 2"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BtV2SHfH5HM/"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 3"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BzqHKG9hQEI/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 4"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/B3nHF9Dhxl0/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 5"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/CpiFTUrIicK/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 6"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/Ca9mmy5s7wL/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
    </div>
    <!-- <button
      id="read-more-btn"
      class="about-btn"
      style="max-width: 50%; margin: auto">Læs Mere</button
    > -->
  </section>
  <section class="about-section" id="about">
    <div class="about-hero">
      <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
      <div class="about-content">
        <h2>Hvem er Team Trylle Rylle Rolle?</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Team Trylle Rylle Rolle.
        </p>
        <button id="read-more-btn" class="about-btn">Læs Mere</button>
        <div id="dropdown-text" class="dropdown-text">
          <p>
            Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
            deres magi, når børn bl.a. skal stikkes, opereres eller er
            ulykkelige over deres situation. <br />
            Børnene, KidsAidstøtter, er mellem 0 og 20 år.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="værdi-section" id="values">
    <!-- <img src="/images/hero.webp" alt="About KidsAid" class="about-image" /> -->
    <div class="værdi-content">
      <h2>KidsAids værdier</h2>
      <div class="valgrid">
        <div class="grid1">
          <img src="/images/KidsAid_Narvar.png" />
          <h2>Nærvær</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/KidsAid_Rummelighed.png" />
          <h2>Rummelighed</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/KidsAid_Hjertevarme.png" />
          <h2>Hjertevarme</h2>
          <p class="valtekst">
            <br />
            Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
            underholder, der aflaster sårbare børn og unge på hospitaler. Dem kendes
            som Team Trylle Rylle Rolle.
          </p>
        </div>
        <div class="grid1">
          <img src="/images/happy.png" />
          <h2>Glæde</h2>
          <p class="valtekst">
            <br />
            - Vores unikke oplevelser skaber glæde og forundring for børnene <br
            />
            * Glæde i en hård tid – glemme sygdom for en stund <br />
            * Glæde sammen som familie – sygdom splitter af <br />
            *(Glæde hos sponsorer når de kan se de er med til at gøre en forskel)
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Carousel -->
  <div class="carousel">
    <!-- list item -->
    <div class="list">
      <div class="item">
        <img src="/images/slider1.png" />
        <div class="content">
          <div class="author">TRYLLEKUNSTNER 1</div>
          <div class="title">TRYLLEPATRULJEN</div>
          <div class="topic">NUMBER 1</div>
          <div class="des">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
            nisi!
          </div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>SUBSCRIBE</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider2.png" />
        <div class="content">
          <div class="author">TRYLLEKUNSTNER 2</div>
          <div class="title">ØNSKEBRØNDEN</div>
          <div class="topic">NUMBER 2</div>
          <div class="des">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
            nisi!
          </div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>SUBSCRIBE</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider3.png" />
        <div class="content">
          <div class="author">TRYLLEKUNSTNER 3</div>
          <div class="title">EVENTS OG INDSAMLINGER</div>
          <div class="topic">NUMBER 3</div>
          <div class="des">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
            nisi!
          </div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>SUBSCRIBE</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider4.png" />
        <div class="content">
          <div class="author">TRYLLEKUNSTNER 4</div>
          <div class="title">STØT NU</div>
          <div class="topic">NUMBER 4</div>
          <div class="des">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
            nisi!
          </div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail">
      <div class="item">
        <img src="/images/slider1.png" />
        <div class="content">
          <div class="title">Tryllepatruljen</div>
          <div class="des">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider2.png" />
        <div class="content">
          <div class="title">Ønskebrønden</div>
          <div class="des">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider3.png" />
        <div class="content">
          <div class="title">Events og indsamlinger</div>
          <div class="des">Description</div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slider4.png" />
        <div class="content">
          <div class="title">Støt nu</div>
          <div class="des">Description</div>
        </div>
      </div>
    </div>
    <div class="arrows">
      <button id="prev"><</button>
      <button id="next">></button>
    </div>
    <div class="time"></div>
  </div>

  <script src="../js/script.js"></script>
  <script src="../js/app.js"></script>
</MainLayout>
