---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Insta from "../components/Insta.astro";
import Support from "../components/Support.astro";
import "../styles/global.css";
---

<MainLayout title="KidsAid - Bringing Smiles to Kids" currentPage="home">
  <Hero
    image1="/images/hero.webp"
    image2="/images/slider2.png"
    image3="/images/slider3.png"
    image4="/images/slider4.png"
  />
  <section class="gradient-transition"></section>
  <section class="instacard-section">
    <div class="instacard-grid">
      <Insta
        title="Post 1"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink=https://www.instagram.com/p/BfitkpZFhcS/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 2"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BtV2SHfH5HM/"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 3"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/BzqHKG9hQEI/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 4"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/B3nHF9Dhxl0/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 5"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/CpiFTUrIicK/?img_index=2"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
      <Insta
        title="Post 6"
        embedCode={`
          <blockquote 
            class="instagram-media"  
            data-instgrm-permalink="https://www.instagram.com/p/Ca9mmy5s7wL/?img_index=1"
            style="max-width: 100px; margin: auto;">
          </blockquote>
          <script async src="//www.instagram.com/embed.js"></script>
        `}
      />
    </div>
  </section>
  <section class="about-section" id="about">
    <div class="about-hero">
      <div class="about-content">
        <h2>Hvem er Trylle Patruljen?</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
        <button id="read-more-btn" class="about-btn">Læs Mere</button>
        <div id="dropdown-text" class="dropdown-text">
          <p>
            Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
            deres magi, når børn bl.a. skal stikkes, opereres eller er
            ulykkelige over deres situation. <br />
            Børnene, KidsAidstøtter, er mellem 0 og 20 år.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="værdi-section" id="values">
    <div class="container">
      <div class="værdi-content">
        <h2>KidsAids værdier</h2>
        <div class="valgrid">
          <div class="grid1">
            <img src="/images/KidsAid_Narvar.png" alt="Nærvær" />
            <h2>Nærvær</h2>
            <p class="valtekst">
              Når sygdom splitter bringer vi nærværet tilbage.<br />
              Vi er tætte med børn og familier. <br />
              Vi arbedjer tæt i dialog med familier, afdelinger, og foreninger. <br
              />
              Nærvær og personlighed er vigtigt i alle unikke oplevelser.
            </p>
          </div>
          <div class="grid1">
            <img src="/images/KidsAid_Rummelighed.png" alt="Rummelighed" />
            <h2>Rummelighed</h2>
            <p class="valtekst">
              Vi skelner ikke mellem sygdomme – plads til alle, store og små.<br
              />
              Vores unikke oplevelser omfavner forskellige sygdomme, handicaps og
              udviklingstrin. <br />
              Rummer behov og ønsker både på og udenfor hospitalerne.
            </p>
          </div>
          <div class="grid1">
            <img src="/images/KidsAid_Hjertevarme.png" alt="Hjertevarme" />
            <h2>Hjertevarme</h2>
            <p class="valtekst">
              Nærvær gør vores arbejde oprigtigt og hjerteligt.<br />
              På empatisk vis sætter KidsAid sig ind i børn og familiers behov i
              en svær tid. <br />
              Vi skaber oplevelser, der gør en ægte forskel for dem som har allermest
              brug for det.
            </p>
          </div>
          <div class="grid1">
            <img src="/images/happy.png" alt="Glæde" />
            <h2>Glæde</h2>
            <p class="valtekst">
              Oplevelser skaber glæde og forundring for børn. <br />
              Glæde i en hård tid, og glemme sygdom for en stund. <br />
              Glæden ved familie, selvom sygdom kan splitter den ad. <br />
              Glæde hos sponsorer, der kan se de er med til at gøre en forskel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section" id="events">
    <div class="about-hero">
      <div class="about-content">
        <h2>Events</h2>
        <p>
          Kids Aid har en aftale med syv tryllekunstnere, der skaber magi samt
          underholder, der aflaster sårbare børn og unge på hospitaler. Dem
          kendes som Trylle Patruljen.
        </p>
        <p>
          Team Trylle Rylle Rolle yder et helt uvurderligt stykke arbejde med
          deres magi, når børn bl.a. skal stikkes, opereres eller er ulykkelige
          over deres situation. <br />
          Børnene, KidsAidstøtter, er mellem 0 og 20 år.
        </p>
      </div>
    </div>
  </section>
  <section class="about-section" style="margin-bottom: 3%;">
    <div class="about-hero">
      <div class="about-content">
        <h2>A.C. Perchs Thehandel X Tryllepatruljen</h2>
        <p>
          Julen er en tid, hvor vi alle har stor glæde af ekstra dejlig
          varme! Så derfor er vi stolte af at kunne indgå et samarbejde med A.C,
          Perchs Thehandel, som i år har doneret udvalgt te, der bliver givet
          til sårbare børn og familier på landets hospitaler, når de får besøg
          af Tryllepatruljen
        </p>
        <p>
          Tilmed vil en del af overskudet fra deres julekalender gå til skabe
          flere magiske trylleoplevelser på alle af landets hospitaler.
        </p>
      </div>
    </div>
  </section>

  <Support />

  <script src="../js/app.js"></script>
</MainLayout>
<script src="../js/scripties.js"></script>
