---
import "../styles/global.css";
---

<footer class="footer">
  <div class="social-links">
    <a
      href="https://www.instagram.com/karruselfest"
      class="social-link"
      target="_blank"><i class="fab fa-instagram"></i></a
    >
    <a
      href="https://www.facebook.com/@karruselfest"
      class="social-link"
      target="_blank"><i class="fab fa-facebook-square"></i></a
    >
  </div>
  <p class="address">Refshalevej 193, 1432 Copenhagen</p>
</footer>
